*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    font-family: var(--font1);
    height:64px;
   /* background-color: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
ul li img{
    border-radius: 50%;
}
.nav-left{
    font-size: 27.7px;
    display: flex;
}
.nav-left span{
    font-family: var(--font1);
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    font-family: var(--font2);

}
.nav-left ul li a:hover{
    color:brown;
    font-weight: bolder;
}
.welcome-heading{
    margin: 32px 0px 32px 145px;
}
.content::after{
    content:"";
    /*background-image: url('../Img/Article-2.jpg'); */
    background-color: #f8e8cc;
    border-radius: 5px;
    height: inherit;
    width: 100%;
    position: absolute;
    opacity: 0.20;
}
.content-left{
    font-family: var(--font2);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 30px;
} 
.content-left h1{
    font-family: var(--font1);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img {
    height: 160.5px;
    border: 2px solid black;
    border-radius: 87.5px;
}
.home-articles{
    padding-top: 10px;
}
.home-article{
    display: flex;
    padding-left: 35px;
    padding-top: 20px;
    background-color: #f3ecec; 
    margin-bottom: 5px;
    border-radius: 5px;
}
.home-article-content{
    align-self: center;
    padding-left: 12.7px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.home-article img {
    height: 150px;
    width: 240px;
}
.footer{

    height: 75px;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6.7px;
}
.open-button {
    background-color: #ce2121;
    color: white;
    padding: 12px 9px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 130px;
    border-radius: 17px;
    width: 187px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 60px;
    border: 2px solid white;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 30px;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #20d63f;
    color: white;
    padding: 14px 12px;
    border: none;
    cursor: pointer;
    width: 61%;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 53px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }